.speech
{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.song
{
    font-size: 20px;
    size: 10m;
    color: black;
}
 
.direction
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(165, 165, 42);
}
.name
{
    font-size:20px;
    size:10m;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.CHORUS
{
    font-size:10px;
    size:10m;
    color:rgba(0, 0, 0, 0.692);
    font-family: 'Times New Roman', Times, serif;
}
.CELIA
{
    font-size: 10px;
    size: 10m;
    color: rgb(205, 255, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.CELIA:hover
{
  box-shadow: 10px 10px 5px; 
  border: 1px solid rgb(147, 207, 56); 
}
.LEILA
{
    font-size: 10px;
    size: 10m;
    color: rgb(209, 205, 255);  
    font-family: Arial, Helvetica, sans-serif;
}
.LEILA:hover
{
  box-shadow: 10px 10px 5px; 
  border: 1px solid rgb(156, 57, 57);
}
.FLETA
{
    font-size: 10px;
    size: 10m;
    color: rgb(239, 205, 255); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.FLETA:hover
{
  box-shadow: 10px 10px 5px; 
  border: 1px solid rgb(44, 44, 214); 
}
.QUEEN
{
    font-size: 10px;
    size: 10m;
    color: rgb(255, 224, 205);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}  
#singers
{
    color: yellowgreen;
    font-size: 10px;
    text-align: center;
    margin-top: 10px ;
    margin-left: 10px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-collapse: collapse;
}

